/* Navigation
--------------------------------------------- */
@import "navigation/navigation";

/* Posts and pages
--------------------------------------------- */
@import "content/posts-and-pages";

/* Comments
--------------------------------------------- */
@import "comments/comments";

/* Widgets
--------------------------------------------- */
@import "widgets/widgets";

/* Media
--------------------------------------------- */
@import "media/media";

/* Captions
--------------------------------------------- */
@import "media/captions";

/* Galleries
--------------------------------------------- */
@import "media/galleries";

/*Call to Action CTA Box 
---------------------------------------------- */

@import "cta-box";

/* Stats
---------------------------------------------- */

@import "stats";


/* Stats
---------------------------------------------- */

@import "media-banner";

/* Home Page Hero
--------------------------------------------- */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 41rem;
    background: url(img/Los_Angeles.png);
    background-repeat: no-repeat;

    &__image {
        width: 90rem;
    }

    &__info {
        font-size: 2.8rem;
    }
}