/* Navigation
--------------------------------------------- */
@import "navigation/navigation";

@import "navigation/footer";

/* Posts and pages
--------------------------------------------- */
@import "content/posts-and-pages";

/* Comments
--------------------------------------------- */
@import "comments/comments";

/* Widgets
--------------------------------------------- */
@import "widgets/widgets";

/* Media
--------------------------------------------- */
@import "media/media";

/* Captions
--------------------------------------------- */
@import "media/captions";

/* Galleries
--------------------------------------------- */
@import "media/galleries";

/*Call to Action CTA Box 
---------------------------------------------- */

@import "cta-box";

/* Stats
---------------------------------------------- */

@import "stats";

/* Stats
---------------------------------------------- */

@import "media-banner";

/* Home Page Hero
--------------------------------------------- */

@import "hero";

/* Countdown
--------------------------------------------- */

@import "countdown";

/* About Section
--------------------------------------------- */

@import "about-section";

/* Topics Section
--------------------------------------------- */

@import "topics-section";

/* Listing Feature
--------------------------------------------- */

@import "listing-feature";

/* Panels Grid
--------------------------------------------- */

@import "panels-grid";

/* Speaker Spotlight
--------------------------------------------- */

@import "speaker-spotlight";

/* Listing Highlight
--------------------------------------------- */

@import "listing-highlight";

/* Image Grid
--------------------------------------------- */

@import "image-grid";

/* Keynote Feature
--------------------------------------------- */

@import "keynotes-feature";


/* Content with Image
--------------------------------------------- */

@import "content-image";


#modal-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(22, 159, 255, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

#modal-background.active {
  height: 100vh;
  width: 100vw;
  opacity: 1;
}
