.media-banner {
  width: 100%;
  position: relative;
  min-height: 46rem;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;

  @include respond(tab-port) {
    height: 75rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
  }

  @include respond(phone) {
    height: auto;
    padding-bottom: 3rem;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    object-fit: cover;
    width: 100%;
    max-width: none;

    @include respond(tab-land) {
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay {
    position: absolute;
    z-index: -7;
    width: 100%;
    height: 100%;

    &--primary {
      background: $color-primary-gradient;
    }

    &--secondary {
      background: $color-secondary-gradient;
    }
  }

  &__text {
    width: 40%;
    padding-left: 10rem;
    padding-right: 2rem;
    position: relative;

    @include respond(tab-port) {
      width: 100%;
      padding: 1rem 2.5rem;
    }

    & > p {
      color: white;
    }

    & a {
      font-weight: bold;
    }
  }

  &__video {
    width: 70rem;
    padding-top: 5rem;
    padding-right: 10rem;

    @include respond(tab-port) {
      width: 100%;
      padding: 0.5rem 2.5rem;
    }
  }

  &__video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    left: 20%;

    @include respond(tab-port) {
      left: 0%;
    }

    & > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 90%;

      @include respond(phone) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
