.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: $color-tertiary;
    margin: 8rem 0rem;

    &__col {
        width: 30%;
    }

    &__number {
        font-size: 4.8rem;
    }

    &__detail {
        font-size: 3.2rem;
    }


    &__line {
        width: 30%;
        position: absolute;
        height: 5px;
        background: $color-tertiary;
    }

}