.topics-section {
  background: $color-tertiary;
  width: 100%;
  min-height: 70rem;
  padding: 1rem 10rem;

  &__text-area {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 8rem;

    & > span {
      position: relative;
      top: 10rem;
    }
  }

  &__header-area {
    width: 30rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__topics {
    width: 40%;
  }

  &__list {
    padding: 0;
    list-style: none;
    font-size: 3rem;
    color: $color-secondary--dark;

    & > li {
      margin: 1rem;
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    flex: 0 0 7rem;
    margin-right: 2rem;
    height: 7rem;
    fill: $color-secondary--dark;
  }

  &__cta-box-area {
    position: absolute;
    padding-right: 10rem;
    top: 45rem;
    left: 15rem;
  }

  &__cta-box {
    width: 30rem;
    height: 20rem;

    & p {
      color: white;
      font-size: 1.8;
    }
  }
}
