.vertical-listing {
  margin-bottom: 2rem;
  position: relative;

  &__container {
    padding: 5rem 10rem;
    padding-top: 2rem;
    position: relative;
    z-index: 9;

    @include respond(phone) {
      padding: 3rem 1rem;
      margin-bottom: 2rem;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__img-container {
    width: 20rem;
    flex-shrink: 0;

    @include respond(phone) {
      width:  60%;
      padding-bottom: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include respond(phone) {
        margin-bottom: .5rem;
      }
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__text {
    padding-left: 2rem;
    width: 150rem;

    @include respond(tab-port) {
      padding-left: 0rem;
      width: 100%;
    }
  }

  &__name {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 3rem;

    @include respond(tab-port) {
      font-size: 2.5rem;
    }
  }

  &__title {
    margin-top: 0rem;
    margin-bottom: .5rem;
  }


  &__overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 0;
    opacity: 0.3;

    &--primary {
      background-color: rgb(104, 185, 252);
      opacity: 0.12;
    }

    &--secondary {
      background-color: rgb(164, 82, 255);
      opacity: 0.07;
    }
  }

  &__profile-grid {
    justify-content: space-around;
  }
}
