h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

.header {
  font-size: 5rem;
  font-weight: bold;
  line-height: 7rem;
  margin-bottom: 1rem;

  @include respond(phone) {
    font-size: 4rem;
    line-height: unset;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--white {
    color: #fff;
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

  &--dark {
    color: $color-black;
  }

  &--solo {
    padding: 0.5rem 8rem 0.2rem 8rem;

    @include respond(phone) {
      padding: 0.5rem 2rem 0.1rem 2rem;
    }
  }
}

.callout {
  font-size: 6rem;
  font-weight: bold;
  line-height: 7rem;

  @include respond(phone) {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.1rem;
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

  &--tertiary {
    color: $color-tertiary;
  }
}

.callout-2 {
  font-size: 4rem;

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

  &--tertiary {
    color: $color-tertiary;
  }
}
