.main-navigation {
    display: flex;
    width: 100vw;
    height: 12rem;
    font-size: 1.4rem;
    color: $color-black;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    position: relative;

    @include respond(tab-land) {
        height: 5rem;
    }

    & a {
        font-weight: bold;

        &:hover {
            color: $color-tertiary;
        }
    }

    &__logo-img {
        min-width: 20rem;
        max-width: 33rem;

        @include respond(tab-land) {
            max-width: 20rem;
        }

    }

}

.nav {
    display: flex;
    flex: .8;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;

    @include respond(tab-land) {
        flex-direction: column;
        align-items: center;
        width: 50%;
        display: block;
        background: white;
        position: fixed;
        top: 5rem;
        padding-top: 2rem;
        padding-left: 0;
        left: 0%;
        height: 100vh;
        margin-left: 0;
        margin-top: 0;
        z-index: 9999;
    }


    &__item {
        height: auto;
        text-align: center;
        flex-shrink: 0;
        min-width: 8rem;
        margin: 0 .5rem;

        &--highlight {
            background: #7DE634;
            padding: .7rem 1.5rem;
        }

        @include respond(tab-land) {
            width: 100%;
            margin: 0;
            min-height: 3rem;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;

        @include respond(tab-land) {
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }

}

.subnav {
    position: relative;
    align-items: center;


    &__icon {
        fill: $color-tertiary;
        font-weight: bold;
        margin-left: .5rem;
        width: 1rem;
        height: 1rem;
        visibility: hidden;

        @include respond(tab-land) {
            display: none;
        }
    }


    &__nav {
        list-style: none;
        position: absolute;
        padding: 1rem;
        transform: translateX(-50%);
        left: 50%;
        top: 2rem;
        background-color: $color-tertiary;
        background-clip: content-box;
        visibility: hidden;

        @include respond(tab-land) {
            visibility: hidden;
            height: 0;
            position: relative;
            transform: translate(0, -100%);
            left: 0%;
            top: 0;
            margin: 0;
            padding: 0;
        }

    }

    &:hover .subnav__nav,
    &:hover .subnav__icon {
        @media only screen and (min-width: 75em) {
            visibility: visible;
        }
    }

    &:hover>.nav__link {
        color: $color-tertiary;
    }


    &__nav .nav__link {
        padding: .6rem 1rem;
        display: inline-block;

        &:hover {
            color: white;
        }
    }


}