.main-navigation {
    display: flex;
    width: 100vw;
    height: 12rem;
    font-size: 1.4rem;
    color: $color-black;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;

    & a {
        font-weight: bold;

        &:hover {
            color: $color-tertiary;
        }
    }

    &__logo-img {
        min-width: 20rem;
        max-width: 33rem;
    }
}

.nav {
    display: flex;
    flex: .8;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;


    &__item {
        height: auto;
        text-align: center;
        flex-shrink: 0;
        min-width: 8rem;
        margin: 0 .5rem;

        &--highlight {
            background: #7DE634;
            padding: .7rem 1.5rem;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

}

.subnav {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;



    &__icon {
        fill: $color-tertiary;
        font-weight: bold;
        margin-left: .5rem;
        width: 1rem;
        height: 1rem;
        visibility: hidden;
    }


    &__nav {
        list-style: none;
        position: absolute;
        padding: 1rem;
        transform: translateX(-50%);
        left: 50%;
        top: 2rem;
        background-color: $color-tertiary;
        background-clip: content-box;
        visibility: hidden;
    }

    &:hover .subnav__nav,
    &:hover .subnav__icon {
        visibility: visible;
    }

    &:hover>.nav__link {
        color: $color-tertiary;
    }


    &__nav .nav__link {
        padding: .6rem 1rem;
        display: inline-block;

        &:hover {
            color: white;
        }
    }


}