body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
  height: 100%;
}

.body-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  display: block;
  position: relative;
}
