// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
// 	border: 1px solid;
// 	border-color: $color__border-button;
// 	border-radius: 3px;
// 	background: $color__background-button;
// 	color: rgba(0, 0, 0, 0.8);
// 	line-height: 1;
// 	padding: 0.6em 1em 0.4em;

// 	&:hover {
// 		border-color: $color__border-button-hover;
// 	}

// 	&:active,
// 	&:focus {
// 		border-color: $color__border-button-focus;
// 	}
// }

.btn,
a.btn {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: $color-primary;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &--primary {
    background: $color-primary;
  }

  &--secondary {
    background: $color-secondary;
  }

  &--tertiary {
    background: $color-tertiary;
  }

  &--quaternary {
    background: $color-quaternary;
  }

  &--white {
    background: white;
    color: $color-primary;
  }
}
