a {
  color: $color-primary;

  // &:visited {
  // 	color: $color-black;
  // }

  &:hover,
  &:focus,
  &:active {
    color: $color-secondary;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

.link {
  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;

    &:hover {
      color: $color-primary;
    }
  }
}
