.section-container {
    padding: 3rem 12rem;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.col-1-of-2 {
    flex: 0 0 47%;
    position: relative;
}

.col-1-of-3 {
    flex: 30%;
    position: relative;
}

.main-content {
    position: relative;
    top: $header-height;

    @include respond(tab-land) {
        top: $header-height-m;
    }
}

.fixed {
    overflow: hidden;
    position: fixed;
}