.container {
    padding: 1rem 12rem;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.col-1-of-2 {
    flex: 0 0 47%;
    position: relative;
}

.col-1-of-3 {
    flex: 30%;
    position: relative;
}